# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml

# OSX relates
.DS_Store

# Test files
test-vectors

# Profiler logs
*.profile